{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskMask</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="container">
        <nav class="navbar">
            <div class="navbar-container">
                <button class="navbar-item">Tasks</button>
                <button class="navbar-item">Groups</button>
                <button class="navbar-item">Your Profile</button>
            </div>
        </nav>

        <div class="content">
            <!-- Your main content goes here -->
        </div>

        <footer class="footer">
            <div>
                <p>&copy; 2023 TaskMask. All rights reserved.</p>
            </div>
        </footer>
    </div>
</body>

</html>